</section>
<!-- ======= Footer ======= -->
<footer id="footer">
  &copy; Copyright <strong>Cyber Naranjal City</strong>. Reservados todos los derechos
  <br>
  Diseñado por <b>Steven Nieto</b> y <b>Javier Haro</b></a>
</footer>

<!-- Botón Ir Arriba -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="<%= staticBasePath %>assets/vendor/aos/aos.js"></script>
<script src="<%= staticBasePath %>assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="<%= staticBasePath %>assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="<%= staticBasePath %>assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
<script src="<%= staticBasePath %>js/sweet_alerts.js"></script>
<script>
  mostrarEsperaAutomatica();
</script>